@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
    @apply bg-app-background;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#__plasmo {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('data-base64:~assets/fonts/Ubuntu-Regular.ttf');
}


/* Scroll Bar styles*/



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-focus-color rounded-md
}


::-webkit-scrollbar-thumb {
    @apply bg-action-color rounded-md
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-hover-action-color rounded-md
}

h1,
h2,
h3,
h4,
h5 {
    @apply text-header-color
}

li {
    @apply text-header-color text-base
}

a {
    @apply text-hover-action-color
}


/* Navigation Menu animation*/

@keyframes show-nav-menu {
    from {
        right: 105vw;
    }

    to {
        right: 30vw;
    }
}

.shown-nav-menu {
    display: flex;
    animation-fill-mode: forwards;
    animation-name: show-nav-menu;
    animation-duration: 0.75s;
}



@keyframes hide-nav-menu {
    from {
        right: 30vw;
        @apply flex;
    }

    to {
        right: 105vw;
    }
}

.hidden-nav-menu {
    animation-fill-mode: forwards;
    animation-name: hide-nav-menu;
    animation-duration: 0.75s;
}

#nav-menu-container-modal {
    @apply w-[100vw] h-[100vh] bg-modal-bg-container-color fixed right-0 top-0 left-0 bottom-0;
    @apply md:hidden z-[9];
}